.navbar {
    width: 94%;
    height: 10%;
    display: flex;
    flex-direction: column;
}

.nav{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 2%;
}

.navDesplegable{
  display: flex;
  justify-content: end;
}
  
  /* Estilos para el logo */
  .user-nav {
    width: 50px;
    height: 50px;
  }
  
  /* Estilos para el título en el header */
  .header-title {
    font-size: 24px;
  }
  
  /* Estilos para el menú desplegable */
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE0AF;
    border-radius: 10px;
    width: 150px;
    height: 145px;
    margin-top: -40px;
    z-index: 2;

  }

  .nav-link{
    width: 140px;
    height: 46.912px;
    border-radius: 10px;
    background: #CF463F;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0); /* Color predeterminado del texto */
  text-decoration: none;
  margin-right: 20px;
  }
  

  .waiter-nav{
    width: 142px;
    height: 148px;
    padding: 20px 20px 20px 20px;
  }

  .waiter-nav img{
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .signout-waiter{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin:0px 19px 7px 887px;
  }

  .icon-waiter {
      width: 51px;
      height: auto;
      margin: 16px 58px 20px 20px;
    }

