.nav{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 2%;
}
.navDesplegable{
  display: flex;
  justify-content: end;
}
  /* Estilos para el logo */
  .user-nav {
    width: 50px;
    height: 50px;
  }
  /* Estilos para el título en el header */
  .header-title {
    font-size: 24px;
  }
  /* Estilos para el menú desplegable */
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE0AF;
    border-radius: 10px;
    width: 149px;
    height: 65px;
  }

  .button-view {
    width: 260px;
    height: 56px;
    padding: 10px 20px;
    line-height: normal;
    cursor: pointer;
    font-family: 'Voltaire', sans-serif;
    transition: .3s;
    border: solid 1px whitesmoke;
    font-size: 24px;
    text-decoration: none;
    color: rgb(9, 9, 9);
    border-radius: 8px;
}

  .dropdown-button {
    width: 52.847px;
    height: 53.797px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    background-image: url("img/menu.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right-bottom;
  }
  .user-navBar{
    width: 60px;
    height: 60px;
  }
  .user-navBar img{
    width: 100%;
    height: auto;
    padding: 0px;
  }

  .nav-link.active {
    background-color: #760909;
    color: #FFF;
  }