/* Title.css */
.title {
    margin-top: -10%; 
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-right: 10px;
   /* justify-content: flex-end; */
   align-items: flex-end;
 }
   h1{
     color: #FFE0AF;
     text-align: center;
     font-family: 'Nerko One', cursive;
     font-size: 100px;
     font-style: normal;
     font-weight: 400;
     margin-bottom: 0px;
     margin-right: 10px;
   }
 
   .logo-title {
     width: 40%;
     margin-left: -8%;
     height: 100%;
 }
 