
.logo {
    width: 596px;
    height: 834px;
}
.content-logo-img {
    height: 80px;
    width: 80px;
}
/* Estilos para celular */
@media (max-width: 768px) {
    .content-logo-img {
        height: 84px;
    }
}