.inputName {
    height: 36px;
    border-block-end: none;
    background-color: #fff;
    font-family: 'Voltaire', sans-serif;
    font-size: 20px;
    width: 66%;
}

label{
    font-family: 'Voltaire', sans-serif;
    font-size: 20px;
    margin-top: 1%;
  }

.customer-input{
    display: flex;
    justify-content: center;
}