/* Estilo para el fondo del modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Estilo para el contenido del modal */
.custom-modal {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  padding: 20px;
  width: 70%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-y: auto;
  border-radius: 8px;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  color: white;
  width: max-content;
  max-height: 80%;
  overflow-x: scroll;
}

/* Estilo para el texto del modal */
.modal-text {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para los botones del modal */
.container-btn-modal-accept-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.btn-accept,
.btn-cancel {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-accept {
  background-color: #4CAF50;
  color: white;
}

.btn-accept:hover {
  background-color: #45a049;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.btn-cancel:hover {
  background-color: #d32f2f;
}
