.ButtonDecrease-Increase{

    border-radius: 10px;
    width: 100%;
    height: 100%;
  

    background-color: #760909;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ButtonDecrease-Increase:hover {
    background-color: #ff1744;
  }

  