
  .container-cooking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
  }
  
  .container-orders-table {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableHeader {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    border-bottom: 2px solid #ddd;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  td {
    padding: 10px;
  }
  
  .products-list {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /*.buttonsTable {
    text-align: center;
  }*/
  
  .btnEstado {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .btnEstado:hover {
    background-color: #0056b3;
  }
  
  /*.botton-back-chef {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
  }*/
  
  .chef {
    width: 120px;
    margin-top: 20px;
  }
  
  /* Estilos para el botón de creación de pedidos */
  .buttonView {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;


    
  }
  
  .buttonView a {
    text-decoration: none;
    color: #fff;
  }
  
  .buttonView button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttonView button:hover {
    background-color: #0056b3;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .footer-button {
    margin: 0;
  }
  
  .footer-button img {
    max-width: 20px;
    margin-right: 5px;
  }
  
  .footer-button  {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .footer-button a:hover {
    color: #007bff;
  }