.title-orders {
    font-size: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
    margin-left: -25px;
  }
  
  .container-order-ticket {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .ticket-order {
    display: grid;
    grid-template-columns: 1fr;
    border: 4px solid #133c8b;
    width: 53%;
    height: 270px;
    font-size: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
  }
  .btn-order-ready {
    display: flex;
    margin-left: 132px;
    margin-top: -16px;
  }
  
  .check {
    width: 20%;
    position: absolute;
    left: 100px;
    top: 320px;
  }
  
  .chef {
    position: absolute;
    width: 20%;
    height: 768px;
    top: 0px;
    left: 824px;
  }
  
  .botton-back-chef {
    width: 19%;
    position: absolute;
    top: -26px;
    left: -32px;
  }
  