@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Nerko+One&display=swap');

.container-error {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: #CF463F url("img/imgfondo.png") no-repeat center center fixed;
    background-color: rgb(207, 70, 63);
    background-size: cover;
    text-align: center;
    background-color: rgba(236, 45, 45, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
  

.h1 {
  font-size: 2rem;
  color: #fffefe;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .h1 {
    font-size: 1.5rem;
  }

  .button-error {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 1.2rem;
  }

  .button-error {
    font-size: 0.9rem;
  }
}
