.optionProducts {
  justify-content: flex-start;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
  margin: 14px 0px 0px -23px;
  width: 551px;
  height: 506px;
  }
 
  
  h5 {
    margin: 15px 0px 1px 0px;
  }
  
  .product-item {
    width: 151px;
    height: 128px;
    margin: 16px 46px;
    flex-direction: row;
    align-content: center;
    border-radius: 21px;
    font-family: 'Voltaire', sans-serif;
    cursor: pointer;
    text-align: center;
    padding: 19px 1px 20px 39px;
    opacity: 90%;
    transform: scale(1.1);
    transition: .3s;
    background-color: #FFE0AF;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    border: 1px solid #ccc;
    margin: 30px 22px;
    display: flex;
    font-size: 18px;
  }

    .ImgProducts{
      width: 30%;
      display: flex;
      align-content: center;
      flex-direction: column-reverse;
      justify-content: center;
      margin-left: 10px;
  
    }
  
    .descriptionProducts{
      width: 70%;
      margin-top: 20px;
    }
    .product-image {
      width: 181%;
      height: 70%;
      margin-top: 4px;
      margin-left: -39px;
}
   
    .buttonmas {
      width: 40px;
      height: 40px;
      margin-right: -20px;
      margin-left: 5px;
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: 13%;
  }
