.optionProducts {
    width: 520px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    overflow: scroll;
  }
  
  h5 {
    margin: 15px 0px 1px 0px;
  }
  
  .product-item {
      background-color: #FFE0AF;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
      border: 1px solid #ccc;
      width: 199.847px;
      height: 97.76px;
      margin: 10px 20px;
      display: flex;
      flex-direction: row;
      align-content: center;
      border-radius: 20px;
  }
    
    .ImgProducts{
      width: 30%;
      display: flex;
      align-content: center;
      flex-direction: column-reverse;
      justify-content: center;
      margin-left: 10px;
  
    }
  
    .descriptionProducts{
      width: 70%;
      margin-top: 20px;
    }
    .product-image {
      max-width: 100%;
      height: auto;
    }
  
    .buttonmas {
      width: 40px;
      height: 40px;
      margin-right: -20px;
      margin-left: 5px;
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: 13%;
  }