.button-views{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    margin:-67px 74px -2px 0px;
    }
    
    .button-view {
      width: 260px;
      height: 56px;
      border-radius: 10px 10px 0px 0px;
      border: none;
      background-color: rgb(206, 206, 206);
      color: rgb(74, 74, 74);
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    
    /* Estilos para los botones cuando están activos */
    .button-view.active {
      background-color: white;
      color: rgb(0, 0, 0);
    }
    