.button-views{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    margin:-67px 74px -2px 0px;
    }
    
    .button-view {
      width: 260px;
      height: 56px;
      padding: 10px 20px;
      line-height: normal;
      cursor: pointer;
      font-family: 'Voltaire', sans-serif;
      transition: .3s;
      border: solid 1px whitesmoke;
      font-size: 24px;
      text-decoration: none;
      color: rgb(9, 9, 9);
      border-radius: 8px;
}

    
    /* Estilos para los botones cuando están activos */
    .button-view.active {
      background-color:  #760909;
      color: #FFF;
    }
    
    button:hover {
      color:rgb(245, 245, 249);
      transform: scale(1.1);
  }