.body{
  
    width: 1024px;
    height: 768px;
    background: #CF463F;
    background-image: url("img/imgfondo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -70%;
}

.container1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background:whitesmoke;
    padding: 34px;
}

.extra1{
    background: whitesmoke;
    width: 55%;
    height: 84%;
}

.order {
  
    width: 50%;
    height: 62%;
    padding: 19px;
    overflow: auto;
    margin: 7px -12px -4px 19px;
    background-color: #f5f5f5;
    width: 411px;
    min-height: 400px;
    margin-left: 10px;
    border-radius: 10px;
}

.buttonGenerarOrder{
    width: 200px;
    height: 39px;
    border-radius: 20px;
    background: #760909;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity:90%;
    transform: scale(1.1);
    transition: .3s;
    margin:20px 20px 20px 20px;
    width: 192px;
  margin: -25px 20px 20px 188px;
  cursor: pointer;
}

.buttonGenerarOrder:hover {
    background-color: black;
    color:white;
}

.button-min{
    height: 34px;
    width: max-content;
    flex-shrink: 0;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: #760909;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
}
tr{
    height: 40px;
}