.body{
    width: 1024px;
    height: 768px;
    background: #CF463F;
    background-image: url("img/imgfondo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -70%;
}

.container1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background:whitesmoke;
    padding: 34px;
}

.extra1{
    background: whitesmoke;
    width: 55%;
    height: 84%;
}

.order {
  
  height: 74%;
  padding: 39px;
  overflow: auto;
  margin: 7px 7px 0px 0px;
  background-color: #f5f5f5;
  width: 411px;
  min-height: 400px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-btn-add{
    background: #CF463F;
}




.buttonGenerarOrder{
    height: 39px;
    border-radius: 10px;
    background: #760909;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 90%;
    transform: scale(1.1);
    transition: .3s;
    width: 192px;
    margin: 0px 38px 0px 68px;
    cursor: pointer;
    margin-top: auto;
}

.buttonGenerarOrder:hover {
    background-color: black;
    color:white;
}

.button-min{
    height: 34px;
    width: max-content;
    flex-shrink: 0;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: #760909;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
}
tr{
    height: 40px;
}